<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"

        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".AppointmentDetailActivity"
            android:exported="false" />
        <activity
            android:name=".EditPatientProfile"
            android:exported="false" />
        <activity
            android:name=".PatientProfile"
            android:exported="false" />
        <activity
            android:name=".UpcomingAppointmentsActivity"
            android:exported="false" />
        <activity
            android:name=".ApproveAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".ScheduleAppointment"
            android:exported="false" />
        <activity
            android:name=".SearchDoctor"
            android:exported="false" />
        <activity
            android:name=".Login_Admin"
            android:exported="false" />
        <activity
            android:name=".SignupDoctor"
            android:exported="false" />
        <activity
            android:name=".Login_Doctor"
            android:exported="true" />
        <activity
            android:name=".Login_Patient"
            android:exported="true" /> <!-- Launchpage Activity as the main launcher activity -->
        <activity
            android:name=".Launchpage"
            android:exported="true"> <!-- It must be exported to be accessible to the launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Other activities without MAIN and LAUNCHER intent filters -->
        <activity
            android:name=".Feedback"
            android:exported="true" /> <!-- Change to true if this activity is accessed from outside the app -->
        <activity
            android:name=".AddDoctor"
            android:exported="true" /> <!-- Change to true if this activity is accessed from outside the app -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".SignupPatient"
            android:exported="true" />

    </application>

</manifest>