<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".Login_Patient"
            android:exported="false" />
        <!-- Launchpage Activity as the main launcher activity -->
        <activity
            android:name=".Launchpage"
            android:exported="true"> <!-- It must be exported to be accessible to the launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Other activities without MAIN and LAUNCHER intent filters -->
        <activity
            android:name=".Feedback"
            android:exported="true" /> <!-- Change to true if this activity is accessed from outside the app -->
        <activity
            android:name=".AddDoctor"
            android:exported="true" /> <!-- Change to true if this activity is accessed from outside the app -->
        <activity
            android:name=".Signup"
            android:exported="true" /> <!-- Change to true if this activity is accessed from outside the app -->
        <activity
            android:name=".Login_Admin"
            android:exported="true" /> <!-- Since Login might be started from a notification or other external event -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>