<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".GiveFeedback"
            android:exported="false" />
        <activity
            android:name=".Feedback"
            android:exported="false" />
        <activity
            android:name=".Launchpage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchDoctor"
            android:exported="false" />
        <activity
            android:name=".UpcomingAppointmentsActivity"
            android:exported="false" />
        <activity
            android:name=".AddDoctor"
            android:exported="false" />
        <activity
            android:name=".EditPatientProfile"
            android:exported="false" />
        <activity
            android:name=".PatientProfile"
            android:exported="false" />
        <activity
            android:name=".EditDoctorProfile"
            android:exported="false" />
        <activity
            android:name=".DoctorProfile"
            android:exported="false" />
        <activity
            android:name=".AdminProfile"
            android:exported="false" />
        <activity
            android:name=".Login_Admin"
            android:exported="false" />
        <activity
            android:name=".Login_Doctor"
            android:exported="false" />
        <activity
            android:name=".SignUpDoctor"
            android:exported="false" />
        <activity
            android:name=".Login_Patient"
            android:exported="false" />
        <activity
            android:name=".SignUpPatient"
            android:exported="false" />
        <activity
            android:name=".CancelAppointmentsActivity"
            android:exported="false" />
        <activity
            android:name=".MessagesAdapter"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".ApproveAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".GeneratePrescription"
            android:exported="false" />
        <activity
            android:name=".ScheduleAppointment"
            android:exported="false" />
        <activity
            android:name=".Signup"
            android:exported="false" />
    </application>

</manifest>